.icon-menu {
  margin-right: 2vw;
  margin-top: 1vw;
  float: right;
  font-size: 8vw;
  color: #fff;
}

.icon-cross {
  margin-right: 3vw;
  margin-top: 2vw;
  float: right;
  font-size: 6vw;
  /*color: #BFB64B;*/
  color: #fff;
  z-index: 99999999999999;
}

/*will toggle a new class on and off with jquery later*/
.menu_hide {
  display: none;
}

.menu_show {
  display: block;
}

#menu {
  position: fixed;
  float: left;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, .75);
  font-size: 14vw;
  text-align: center;
  z-index: 9999999999;
}

#menu li {
  height: 15vw;
  margin: 15vw 0;
  text-align: center;
}

.spacer {
  margin-top: 8vw;
  height: 1vw;
  background: url('/assets/images/colors.jpg') center;
}

.hero_slider {
  margin-top: 8vw;
  position: relative;
}

.hero_image img{
  width: 100%;
}

.hero_label {
  height: 15vw;
  width: 45%;
  padding: 2vw;
  position: absolute;
  top: 6vw;
  left: 6vw;
  background-color: rgba(17, 17, 17, .5);
  border-radius: 1vw;
  color: #fff;
}

.hero_label p {
  margin-top: 3vw;
}

.tab_content {
  box-sizing: border-box;
}

#project {
  width: 100%;
  margin-top: 4vw;
}

.sub_project {
  width: 100%;
  height: 50vw;
  position: relative;
  display: inline-block;
}

.sub_project img {
  width: 100%;
  height: 100%;
}

.project_banner {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  background: rgba(17, 17, 17, .25);
  color: #fff;
}

.project_banner h3 {
  margin-top: 20vw;
  color: #fff;
  transition: 350ms;
}

.click {
  display: inline-block;
  text-decoration: underline;
  margin-top: 8vw !important;
}

.info {
  margin-left: 4vw;
  font-size: 4vw;
  text-align: left;
}

.info a {
  font-size: 6vw;
  color: #fff;
  background: url('/assets/images/colors.jpg') center;
  border-radius: 100%;
}

.info span {
  font-style: italic;
}

.info > * > * {
  margin-top: 2vw;
}

#skills {
  display: none;
}

.skill_box {
  width: 24%;
  height: 10vw;
  display: inline;
  text-align: center;
  background: #444;
  color: white;
}

#about p {
  margin: 2vw;
  padding: 2vw;
  font-size: 3vw;
  color: #fff;
  background: rgba(17, 17, 17, .5);
  border-radius: 1%;
}
