body {
  font-family: helvetica;
}

.clearfix {
  clear: both;
}

header {
  height: 10vw;
  background: #444;
}

h1 {
  margin-left: 4vw;
  margin-top: 5vw;
  float: left;
  font-family: 'Monoton', cursive;
  font-size: 5vw;
  color: #fff;;
}

a {
  text-decoration: none;
  color: #BFB64B;
}

h2 {
  margin-left: 3vw;
  font-size: 6vw;
}

h3 {
  font-size: 4vw;
  font-weight: bold;
}

footer{
  margin-top: 4vw;
  height: 8vw;
  padding: 2vw;
  background-color: #444;
  color: #BFB64B;
}

footer> span {
  margin-top: 8vw;
  font-size: 3vw;
}

footer div {
  float: right;
  font-size: 5vw;
}

footer div a {
  margin-right: 2vw;
}
