* {
  font-family: helvetica sans-serif;
}

.clearfix {
  clear: both;
}

header {
  height: 3em;
  background: #444;
  padding: 1em;
}

h1 {
  margin-left: .5em;
  float: left;
  font-size: 4.5vw;
  color: #fff;
}

a {
  text-decoration: none;
  color: #BFB64B;
}

h2 {
  margin-left: .5em;
  font-size: 3.5vw;
  text-decoration: underline;
}

h3 {
  font-size: 3vw;
  font-weight: bold;
}

footer{
  margin-top: 2em;
  height: 3em;
  padding: 1em;
  background-color: #444;
  color: #BFB64B;
}

footer> span {
  font-size: 2em;
}

footer div {
  float: right;
  margin-right: 10%;
  font-size: 2.5em;
}
