.icon-menu {
  margin-right: .25em;
  display: inline-block;
  float: right;
  font-size: 3em;
  color: #BFB64B;
}

/*will toggle a new class on and off with jquery later*/
.menu {
  display: none;
  position: fixed;
  float: left;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, .5);
  font-size: 4em;
  color: #fff;
  z-index: 9999999999;
}

.menu li {
  margin-left: .5em;
  margin-top: .5em;
}

.hero_slider {
  margin-top: 3em;
  position: relative;
}

.hero_image img{
  width: 100%;
}

.hero_label {
  height: 10em;
  width: 45%;
  padding: 1em;
  position: absolute;
  top: 2em;
  left: 2em;
  background-color: #444;
  opacity: .5;
  border-radius: .5em;
  color: #fff;
}

.hero_label p {
  font-size: 1.25em;
  margin-top: 1em;
}

.tab_content {
  /*margin: 1em;*/
  padding: 1em;
  border-bottom: solid .25em #BFB64B;
  border-top: solid .25em #BFB64B;
  box-sizing: border-box;
}

#project {
  width: 100%;
  margin-top: 2em;
}

.project {
  width: 47%;
  margin-top: 3em;
  position: relative;
  display: inline-block;
}

section div.project:nth-child(3) {
  display: none;
}

.project img {
  width: 100%;
}

.project_banner {
  height: 10em;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #444;
  opacity: .5;
}

.project_banner h3 {
  margin-top: 2em;
  font-size: 1.5em;
  color: #fff;
}

.project_banner button {
  padding: .25em .5em;
  margin-top: 1em;
  font-size: 1em;
  color: #444;
  background: #fff;
  border: none;
  border-radius: .25em;
}

#skills {
  display: none;
}

#about {
  margin-top: 2em;
}

#about p {
  margin-top: 1em;
  padding: .5em;
  font-size: 1.25em;
}

/*dynamically built from source data for the project block*/
.template {
  display: none;
}

#project_block {
  margin-left: 1em;
  margin-top: 1.5em;
}

.byline{
  display: inline-block;
}

#project_block a {
  display: inline-block;
  color: #BFB64B;
  margin-right: .5em;
}

.date {
  font-style: italic;
}

.byline span {
  height: 2em;
  width: 3em;
}

.project_about {
  height: 3em;
}
